{% extends "admin/change_form.html" %}

{% load i18n admin_urls %}


{% block object-tools-items %}

    {{ block.super }}

    {% if original %}

        {% if original.status == "closed" %}

            <li>
                <a
                    href="{% url 'admin:election_election_count_preview' original.pk %}"
                >
                    開票する
                </a>
            </li>


        {% endif %}

    {% endif %}

{% endblock %}


{% block after_field_sets %}

...

{% endblock %}
